body {
    margin: 0px;
}
.home_container {
    position: relative;
    height: 100%;
}
.sidebar {
    width: 22%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-top: 0px;
}
.sidebar img {
    width: 100px;
    border-radius: 100%;
    border: 2px solid #e5e5e5;
}
.sidebar h4 {
    color: #8d8b8b;
}
.container {
    height: 100vh;
    margin-left: 22%;
    margin-top: 50px;
    position: relative; 
    font-family: Oswald, Helvetica, sans-serif;
}
.about-container{
    display: flex;
    height: 100%;
    margin: 0px;
}
.about_me{
    border: 1px #fff solid;
    background-color: yellow;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sub-sidebar{
    display: flex;
    flex: 1;
    margin-left: 10%;
    flex-direction: column;
}
.sub-sidebar h2{
    padding-top: 30px;
}
.sub-container{
    display: flex;
    flex: 1;
    margin-top: 0px;
    flex-direction: column;
}
.service h2{
    text-decoration: underline 3px #f8cb6a;
}
.service img{
    width: 100px;
    height: 100px;
}
.client{
    text-decoration: underline 3px #f8cb6a;
}
.client img{
    width: 100px;
    height: 100px;
}
.property h2{
    margin-top: 110px;
    margin-left: 10px;
    text-decoration: underline 3px #f8cb6a;
}
.bryan-morris h3 {
    margin-top: -60px;
    margin-left: -20px;
    text-decoration: none;
}
.bryan-morris p {
    color: #808080;
    margin-left: -60px;
    font-size: 12px;
}
.property p{
    border: 2px #dcdcdc solid;
    width: 60%;
    height: 90%;
    margin-top: 20px;
	padding: 30px;
	box-sizing: border-box;
    font-style: italic;
    border-radius: 5%;
}
.property img{
    width: 90px;
    margin-top: -40px;
    margin-left: 50px;
    border-radius: 100%;
    border: 2px solid #dcdcdc;
}
.service2 {
    margin-top: 120px;
}
.service2 img{
    width: 100px;
    height: 100px;
}
.client2{
    margin-top: 100px;
}
.client2 img{
    width: 100px;
    height: 100px;
}
.fun-fact{
    text-decoration: underline 3px #f8cb6a;
}
.fun-fact img{
    width: 100px;
    height: 100px;
}
.fun-fact2{
    margin-top: 98px;
}
.fun-fact2 img{
    width: 100px;
    height: 100px;
}
#nav {
    list-style-type: none;
    text-align: center;
    padding: 0px; 
}
#nav li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(237, 236, 236);
    border-top: 1px solid rgb(237, 236, 236);
    margin-top: -1px;
}
#nav li.active {
    background-color: #f5f3f3;
}
li.active a:after {
    background-color: #f4c052;
    display: block;
    position: absolute;
    content: ' ';
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
}
#nav a {
    color: black;
    text-decoration: none;
}
